<div class="container">
  <div class="content">
    <p *ngIf="message_success">
      <ngb-alert [dismissible]="false" type="success">
        <strong>Tudo certo!</strong> O item foi adicionado.
      </ngb-alert>
    </p>

    <p *ngIf="message_error">
      <ngb-alert [dismissible]="false" type="danger">
        Ocorreu um erro!
      </ngb-alert>
    </p>
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" required>
      </div>

      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" formControlName="price" ng-pattern="onlyNumbers" mask="separator.2"
          thousandSeparator="" separatorLimit="99999999999999" required>
      </div>

      <div class="form-group">
        <label>Sku</label>
        <input type="text" class="form-control" formControlName="sku" required>
      </div>

      <br>

      <div class="form-group"> <button [disabled]="!itemForm.valid" type="submit"
          class="btn btn-primary">Submit</button></div>
    </form>
  </div>

</div>
